.container {
    padding-top: 150px;
   
}

.inner {
    padding: auto;
    margin: auto;
    justify-content: space-around;
    display: flex;  
    flex-direction: row; 
    flex-wrap: wrap;
}


.form-box {
    border: dotted dodgerblue;
    border-radius: 2rem;
    margin: auto;
    padding: 30px 20px;
    width: 50%;
}

.form-box #image {
    justify-content: center;
    width: 200px;
}

.material-icons{
    display: inline-flex;
    font-size: inherit;
    line-height: inherit;
    vertical-align: text-bottom; 
}