.header {
    width: 100%;
    height: 120px;
    background-color: #22241e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;    
    z-index: 100;
    overflow: hidden;
}

.logo-box {
    border-radius: 100%;
    background-color: #d6ef17;
    color: #000000;
    padding-right: 2rem;
    padding-left: 2rem;
}

.nav-items {
    list-style: none outside none;
}

.nav-items li {
    padding: 25px;
    float: left;
    width: 150px; 
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: x-large;
    text-decoration: none;  
}

.nav-items li:hover {
    background-color: #d6ef17;
    color: #000000;
}